<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Some restorunt</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="orders.html">Orders</a>
                </li> <li class="nav-item">
                    <a class="nav-link disabled" href="login.html">login</a>
                </li> <li class="nav-item">
                    <a class="nav-link disabled" href="register.html">register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>MENU</h1>
        <div class="row justify-content-between">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">
                    
                    <h3>dish1</h3>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">

                    <h3>Dish2</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Dish3</h3>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Dish4</h3>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Dish5</h3>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">

                    <h3>Dish6</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Dish7</h3>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./img2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Dish8</h3>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>