<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="./logout.js"></script>
    <title>Some restaurant</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders.html">Orders <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="register.html">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Chat </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="admin.html">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbarLogout" href="/logout" >logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">

            <div class="col-4">
                <h2>Menu</h2>
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Main Dishes
                    </div>
                    <ul class="list-group list-group-flush" id="mainDishMenu">
                        <li class="list-group-item"> <input type="button" value="Item1"></input> </li>
                        <li class="list-group-item"><input type="button" value="Item2"></input></li>
                        <li class="list-group-item"><input type="button" value="Item3"></input></li>
                        <li class="list-group-item"><input type="button" value="Item4"></input></li>
                    </ul>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Side Dishes
                    </div>
                    <ul class="list-group list-group-flush" id="sideDishMenu">
                    
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h2>My order</h2>
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <form style="max-width: 300px;" id="order-form" action="">
                            <label for="Dishes">Choose an Item:</label>
                            <div id="orders">

                            </div>
                            <br>
                            <label for="Dishes">total:</label>
                            <button type="submit" class="btn btn-primary w-100">Checkout</button>
                            <br>
                            <input type="button" value="chat">

                        </form>
                    </ul>


                </div>
            </div>
            <div class="col-4">
                <h2>Previous orders</h2>
                <div id="history">
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">Order
                                    347</a></li>
                            <div id="collapseOne" class="collapse">
                                <div class="card" style="width: 18rem;">
                                    <label class='mx-2'>Placed on - 21/03/2021</label>
                                    <label class='mx-2 my-0 py-0'>Total payed - 20.44$</label>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Chosen item 1</li>
                                        <li class="list-group-item">Chosen item 2</li>
                                        <li class="list-group-item">Chosen item 3</li>
                                    </ul>
                                </div>
                            </div>

                        </ul>

                    </div>
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="true" aria-controls="collapseTwo">Order
                                    207</a></li>
                            <div id="collapseTwo" class="collapse">
                                <div class="card" style="width: 18rem;">
                                    <label class='mx-2'>Placed on - 21/03/2021</label>
                                    <label class='mx-2 my-0 py-0'>Total payed - 20.44$</label>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Chosen item 1</li>
                                        <li class="list-group-item">Chosen item 2</li>
                                        <li class="list-group-item">Chosen item 3</li>
                                    </ul>
                                </div>
                            </div>

                        </ul>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>

        function addToForm(e) {
            //document.getElementById("firstOrder").innerHTML=e.target.value
            const orderDiv = document.createElement("div")
            orderDiv.innerHTML = e.target.value
            document.getElementById("orders").appendChild(orderDiv)
        }
        function addToHistory(e) {
            const historyDiv = document.createElement("form")
            historyDiv.innerHTML = e.target.value
            document.getElementById("history").appendChild(historyDiv)
        }
        document.getElementById("mainDishMenu").addEventListener("click", addToForm)
        document.getElementById("sideDishMenu").addEventListener("click", addToForm)
        document.getElementById("order-form").addEventListener("click", addToHistory)
    </script>
    <script>
        document.getElementById("sideDishMenu").addEventListener("onload")
        async function addDish() {
 
            const rawResponse = await fetch('/addDish', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ dishType: dishType, dishName: dishName, price: price })
            });
            const content = await rawResponse.json();

            document.getElementById("sideDishMenu").innerHTML = ""
            content.forEach(element => {
                const dishLi = document.createElement("li")
                dishLi.innerHTML = element.dishName
                document.getElementById("sideDishMenu").appendChild(dishLi)
            });
        }

    </script>

</body>

</html>